#### Contents for labx debian weezy
### Localization
d-i debian-installer/locale string fr_FR
d-i keymap select fr

### Network
d-i netcfg/choose_interface select auto

### Debian mirror
d-i mirror/protocol string http
d-i mirror/country string manual
d-i mirror/http/hostname string ftp.fr.debian.org
d-i mirror/http/directory string /debian

d-i mirror/suite string wheezy
d-i mirror/udeb/suite string wheezy

### Users
## Root
d-i passwd/root-password password LABX
d-i passwd/root-password-again password LABX

## 1st User
d-i passwd/username string labx
d-i passwd/user-fullname string labx
d-i passwd/user-password password LABX
d-i passwd/user-password-again password LABX

### Times
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Paris

### Disk
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Paris
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

## One partition
d-i partman-auto/choose_recipe select atomic

d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-md/confirm boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

d-i partman/mount_style select uuid
d-i base-installer/kernel/image string linux-image-genric

### other mirror
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true

### bootloader
d-i grub-installer/only_debian true
d-i grub-installer/bootdev string /dev/sda
 
d-i finish-install/reboot_in_progress note

### Software Selections

tasksel	tasksel/first	multiselect	desktop laptop standard

